<div class="card">
    <div class="card-header">
        <h2>Mask
        </h2>
    </div>

    <div class="card-body card-padding" (a2OnInit)="dropdownEvents = []"
         style="width: 300px;">

        <p>Date:</p>
        <input [a2Mask]="'1111-11-11'" [(ngModel)]="date"
               class="form-control input-sm" />

        <p>Phone number:</p>
        <input [a2Mask]="'+48 111-111-111'" [(ngModel)]="phone"
               class="form-control input-sm" />

        <p>Zip code:</p>
        <input [a2Mask]="'11-111'" [(ngModel)]="zipCode"
               class="form-control input-sm" />
    </div>
</div>
