<div class="card">
    <div class="card-header">
        <h2>Upload</h2>
    </div>

    <div class="card-body card-padding" (a2OnInit)="uploads = []">
        <div
                style="width: 300px; height: 100px; display: flex; justify-content: center; align-items: center"
                class="dropzone"
                (a2GlobalFileIn)="globalFileIn = $event"
                (a2FileIn)="fileIn = ($event);"
                [class.dropzone-global]="globalFileIn && !fileIn"
                [class.dropzone-local]="fileIn" (drop)="$event.preventDefault()"
                [a2Upload]="{url: 'https://posttestserver.com/post.php'}" (a2OnUpload)="uploads.push($event)">

            <div class="sqbrackets"
                 style="display: flex; justify-content: center; align-items: center"
                 [class.sqbrackets-global]="globalFileIn && !fileIn"
                 [class.sqbrackets-local]="fileIn">

                <div> Drag File Here!
                    <span *ngIf="!globalFileIn && !fileIn"> ( Outside ) </span>
                    <span *ngIf="globalFileIn && !fileIn"> ( Global ) </span>
                    <span *ngIf="fileIn"> ( Local ) </span>
                </div>

            </div>

        </div>

        <input type="file" (a2OnUpload)="uploads.push($event)" [a2Upload]="{url: 'https://posttestserver.com/post.php'}"
               multiple/>

        <div *ngFor="let upload of uploads" style="margin-top: 10px; width: 300px;" class="dropzone">
            {{upload.name}} - {{ upload.response ? "finished": "uploading" }}
            <span *ngIf="upload?.response?.status"> - status {{upload.response.status}}</span>
        </div>
    </div>
</div>
