<div class="card">
    <div class="card-header">
        <h2>Copy
            <small>With clear selection after copy</small>
        </h2>
    </div>
    <div class="card-body card-padding">
        <form class="row" role="form">
            <div class="col-sm-3">
                <div class="form-group fg-line">
                    <label class="sr-only">Text to copy</label>
                    <input value="Copy me!" class="form-control input-sm" placeholder="Text to copy" #copyRef>
                    <br>
                    <span>copyResult: {{copyResult | json}}</span> <br>
                </div>
            </div>
            <div class="col-sm-4">
                <button (click)="copyResult = copy(copyRef)" class="btn btn-default btn-sm m-t-5">Copy</button>
                <button *ngIf="copyResult && copyResult.success" (click)="copyResult.clearSelection()"
                        class="btn btn-default btn-sm m-t-5">Clear focus on input
                </button>
            </div>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h2>Cut</h2>
    </div>
    <div class="card-body card-padding">
        <form class="row" role="form">
            <div class="col-sm-3">
                <div class="form-group fg-line">
                    <label class="sr-only">Text to cut</label>
                    <input value="Cut me!" class="form-control input-sm" placeholder="Text to cut" #cutRef>
                    <br>
                    <span>cutResult: {{cutResult | json}}</span> <br>
                </div>
            </div>
            <div class="col-sm-4">
                <button (click)="cutResult = cut(cutRef)" class="btn btn-default btn-sm m-t-5">Cut</button>
            </div>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h2>Copy any text</h2>
    </div>
    <div class="card-body card-padding">
        <form class="row" role="form">
            <div class="col-sm-4">
                <button (click)="copyTextResult = copy('Some text')" class="btn btn-default btn-sm m-t-5">Copy some text
                </button>
                <br>
                <span>Copy text result: {{copyTextResult | json}}</span> <br>
            </div>
        </form>
    </div>
</div>
