<header id="header" class="clearfix">
    <ul class="h-inner">

        <li class="hi-logo hidden-xs">
            <a href="/">a2ui</a>
        </li>

    </ul>

    <!-- Top Search Content -->
    <div class="h-search-wrap">
        <div class="hsw-inner">
            <i class="hsw-close zmdi zmdi-arrow-left" data-ma-action="search-close"></i>
            <input type="text">
        </div>
    </div>
</header>

<section id="main">

<a2uie-navigation-bar></a2uie-navigation-bar>

<router-outlet></router-outlet>

</section>