a2-date-picker-input .popover {
    max-width: 340px !important;
}

a2-date-range-picker-input .popover {
    max-width: 650px !important;
}

a2-date-time-picker-input .popover {
    max-width: 340px !important;
}

a2-date-picker-input .content {
    float: right;
    bottom: 30px;
    position: relative;
}

a2-date-time-picker-input .content {
    float: right;
    bottom: 30px;
    position: relative;
}

a2-date-range-picker-input .content {
    float: right;
    bottom: 30px;
    position: relative;
}

.timepicker {
    display: flex;
    width: 140px;
    margin: auto;
    padding-top: 5px;
}

.btn-done {
    float: right;
    margin-bottom: 5px;
}

.timepicker .select {
    width: 70px;
}

.timepicker input {
    width: 42px;
}

.timepicker .glyphicon {
    padding-left: 15px;
    cursor: pointer;
}

.date-picker {
    width: 618px;
    overflow: hidden;
}

.date-picker-header {
    height: 20px;
}

.date-range-picker-from {
    float: left;
    margin-right: 5px;
}

.date-range-picker-to {
    float: left;
}

.date-picker-footer {
    margin-right: 2px;
}

.date-time-picker-footer {
    margin: 5px 0;
}

.date-picker-button {
    margin-left: 3px;
    height: 30px;
}

.margin-bottom-8 {
    margin-bottom: 8px;
}

.day-picker-button {
    width: 100%;
    height: 24px
}

.day-picker-btn-today {
    margin-top: 10px !important;
}

.day-picker-headers {
    line-height:30px;
}

.month-picker-button {
    width:85px;
}

.glyphicon-chevron-down {
    color: #333;
}

.glyphicon-chevron-up {
    color: #333;
}
